@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400);
/*@font-family: 'Roboto Condensed';*/

* {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

body #wrapper {
    padding-top: 50px;
    font-family: sans-serif;
}

/* style for header */

/*  */
#header .header-menu-top .navbar {
    min-height: 30px;
    line-height: 30px;
    background-color: #44a6dc;
    height: 30px;
}

#header .header-menu-top .nav-text-right {
    cursor: pointer;
    color: #fff;
    margin: 0 10px;
}

.fas-icon-header {
    transform: translateX(45%);
    padding: 0;
    display: inline-block;
}

.fas-icon-header .header-icon-left {
    height: 18px;
    color: #eeeeee;
}

.fas-icon-header li {
    list-style: none;
    transform: translateY(-10%);
    margin: 0 10px;
    float: left;
}

#header .header-menu-top .navbar-right {
    margin-right: 10px;
}

#header .headr-logo img {
    height: 40px;
    width: 40px;
    margin: 0;
    transform: translateX(220%);
}

.form-search .form-control {
    width: 500px;
}

.header-menu-store {
    font-size: 17px;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.header-menu-store .navbar {
    margin-top: 28px;
    padding-top: 10px;
    height: 68px;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    border-radius: 0;
}

.header-menu-store .navbar .badge {
    margin-top: -120px;
    position: fixed;
    top: 161px;
    z-index: 1;
}

.header-menu-store .navbar .navbar-right{
    margin-right: -325px;
}


.header-icon-right {
    height: 22px;
    width: 22px
}

#badge-bag {
    right: 50px;
}

.header-menu-store .dropdown-menu-right {
    transform: translate(76%, 6%);
}

.header-menu-store .store-cicle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 50%;
    background-color: #fff;
    height: 40px;
    width: 40px;
    margin-top: 5px !important;
    box-sizing: border-box;
}

.header-menu-store .nav li {
    margin: 0 10px;
}

/*  */
.header-main {
    padding: 0;
    background-color: rgba(0, 0, 0, .02)
}

.header-main-right {
    position: relative;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
}

#carousel-id {
    height: 380px;
    position: relative;
}

#carousel-id .img-header-main {
    height: 380px;
}

.carousel-control {
    position: absolute;
    z-index: 2;
}

.header-nav {
    position: fixed;
    z-index: 5;
}

#carousel-id .img-left, #carousel-id .img-right {
    height: 35px;
    transform: translateY(160px);
    margin: 0 -10px;
}

/* end style for header */


/* start content */

#content {
    margin-top: 20px;
}

.thumbnail {
    height: 350px;
    overflow: hidden;
    border-radius: 1px;
    box-shadow: 0px 2px 2px 0px gray;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 3px;
}

.thumbnail:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);    
    border-color: #44a6dc;
}

.thumbnail .image-thumbnail {
    padding: 15px 15px 0 15px;
    height: 65%;
}

.thumbnail .image-thumbnail img {
    background-size: cover;
    height: 100%;
    width: 100%;
}

.thumbnail .caption-footer {
    width: 100%;
    margin-top: 20px !important;
    height: 80px;
    position: relative;
}

.thumbnail .caption-footer .don-gia {
    font-size: 22px;
    position: absolute;
    top: 30%;
    transform: translateY(-60%) translateX(15px);
    left: 3%;
}

.thumbnail .caption-footer .btn {
    color: #fff;
    right: 0;
    position: absolute;
    border-radius: 0;
    padding: 10px 20px;
    background-color: #CD1F25;
    height: 40px;
    border-color: #CD1F25;
    border: 0;
    cursor: pointer;
    transition: all 0.15s ease;
}

.thumbnail .caption-footer .btn:hover {
    border-color: #404040;
}

.thumbnail .button:focus { outline: 0; }

/* Button modifiers */

.thumbnail .buttonBlue {
    background: #4a89dc;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.thumbnail .buttonBlue:hover { background: #357bd8; }


/* Ripples container */

.thumbnail .ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}


/* Ripples circle */

.thumbnail .ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
}

.thumbnail .ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
    0% { opacity: 0; }

    25% { opacity: 1; }

    100% {
        width: 200%;
        padding-bottom: 200%;
        opacity: 0;
    }
}

.thumbnail .caption-footer .bd-bt {
    content: "";
    background-color: azure;
    position: absolute;
    top: -1px;
    left: -0px;
    width: 100%;
    border-top: 1px solid #CD1F25;
}

#content .card .title-card-right {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 10px;
}

#content .card .title-card-right img{
    margin-left: 5px; 
    height: 25px;
    width: 25px;
}

#content .card .title-card {
    position: relative;
    margin-bottom: 25px;
}

/* end content */


/* start footer */
section {
    padding: 15px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#footer {
    margin: 0 -15px;
    background: #f8f8f8;
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, .54);
}

#footer a {
    color: rgba(0, 0, 0, .54);
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.list-unstyled {
    margin: 0 0 40px 10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: rgba(0, 0, 0, .54);
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

.col-xs-12.col-sm-4.col-md-4 {
    text-align: start;
}

/* end footer */

.input-group-addon.beautiful input[type="checkbox"],
.input-group-addon.beautiful input[type="radio"] {
    display: none;
}

/*thanh toan*/

#thongtinthanhtoan{
    margin-top: 60px;
}